body {
  display: flex;
  flex-direction: column;
}

#nav, footer {
    padding-left: 20px;
    padding-right: 20px;
    background:linear-gradient(45deg, #B7094C, #0091AD);
    color: white;
}

#nav {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.alert {
  width: 100vw !important;
}

main {
  visibility: hidden;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 76px;
  min-height: calc(100vh - 56px - 38px);
}

#footer div {
  padding-left: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 5px;
  gap: 10px;
  padding-bottom: 10px;
}

#error {
  width: calc(100vw - 40px);
  margin-top: 60px;
  position: absolute;
  display: none;
}

#loader {
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
  color: #555280;
}

.check {
  accent-color: #e91e63;
  border-color: #e91e63;
}

.check:checked {
  background-color: #e91e63;
  border-color: #e91e63;
  border: none;
}

@media screen and (max-width: 960px) {
  ul li {
    margin-top: 10px;
  }   
}
