<!--Creare un logo, da utilizzare anche nella favicon-->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../Pages/prodotti.html">Tutti i prodotti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../Pages/profilo.html">Profilo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" title="Carrello"  aria-current="page" href="../Pages/carrello.html"><span class="d-xl-none">Carrello</span><i class="fa-solid fa-cart-shopping mt-1"></i></a>
          </li>          
        </ul>
      </div>
    </div>