#prodotti_r, #ordini {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 16px;
    margin-bottom: 10px;
}

#no_ordine {
    text-align: center;
    font-style: italic;
}
.alert {
    position: absolute;
    display: none;
    width: 100vw;
}
